

thead {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(216, 216, 216);
    border-collapse: collapse;
}

th {
    padding: 12px;
}

#table-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 650px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 3px;
    padding-left: 3px;
}

tr {
    border-style: solid;
    border-width: 1px;


    border-color: rgb(216, 216, 216);

}
.my-table {
    border-collapse: collapse;
    text-align: center;
    position: relative;
}